[Unit]
Description=RTSP camera batch recorder

[Service]
Type=simple
WorkingDirectory=/mnt/borg/security-recordings
User=borg
Group=borg

ExecStart=/mnt/borg/security-recordings/camScripts/recordBatch.sh
Restart=always
RestartSec=100

[Install]
WantedBy=multi-user.target
